body {
  font-family: "Inter", sans-serif;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}

.status-desistente {
  color: #6b7280;
  text-decoration: line-through;
}
.status-reprovado {
  color: #dc2626;
  font-weight: 600;
}
.status-aprovado {
  color: #16a34a;
  font-weight: 600;
}
